*{
    box-sizing: border-box;

}

body{
    background-color: #f6f8f9;
}

/* contenitore logo */

#cont-log{
    height: 70px;
    background-color: white;
    line-height: 70px;

}

/* logo con titolo */

.intestazione{
    display: inline-block;
    height: 70px;
    vertical-align: middle;
    margin: 0;
    margin-left: 15px;

}

/* container 1 */

 .container{
     width: 60%;
     margin: auto;
     margin-top: 50px;
     background-color: white;
     border-radius: 5px;

 }

/* container 2 */

 .container-2{
    width: 60%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    

 }


 /* bottoni */

 #add-task-b{
     color: white;
     background-color: red;
     margin-left: 30px;
     margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
     height: 20px;
     border: none;

 }

 #add-section-b{
     background-color: white;
     border: 2px solid lightgray;
     color: lightgray;
     border-radius: 5px;
 }

 /* prima sezione */

 .bg-lightblue{
     background-color: lightskyblue;
     color: white;
     border-radius: 10px;
     padding-left: 10px;
     padding-right: 10px;


 }

  /* implementa margine di 10px */

  .marg{
      margin:10px
  }

  /* crea spazio tra prima riga e container */

  #pad{
      padding-top: 20px;
  }

  /* implementa spazio tra le singole righe */

  .marg-righe{
      margin-top: 7px;

  }
  